base_requirements:
  path_for_charts:
    - <path of the Chart and values.yaml files>
    # e.g.: If the path of the values like this: `/home/user/project/charts/microservice/values.yaml`
    # then the path_for_charts should be `/home/user/project/charts`
  version_requirements:
    - chart_name: microservice
      min_version: 4.2.0
      max_version: 5.1.0
      update_to_version: 5.1.1
    - chart_name: microfrontend
      min_version: 1.0.0
      max_version: 3.0.0
      update_to_version: 3.1.0
version_changes:
  # Microservice chart changes
  4.2.4:
    - action: add_key
      key: ["microservice", "serviceAccount", "create"]
      overwrite: False
      overwrite_value: False
  4.4.2:
    - action: add_key
      key: ["microservice", "prometheus", "enabled"]
      overwrite: True
      overwrite_value: True
    - action: add_key
      key: ["microservice", "prometheus", "path"]
      overwrite: True
      overwrite_value: "/metrics"
    - action: add_key
      key: ["microservice", "prometheus", "port"]
      overwrite: True
      overwrite_value: 4000
    - action: add_key
      key: ["microservice", "prometheus", "scrape"]
      overwrite: True
      overwrite_value: "true"
  5.0.0:
    - action: rename_key
      old_key: ["microservice", "podAnnotations"]
      new_key: ["microservice", "annotations"]
      merge: True
    - action: remove_key
      key: ["microservice", "annotations", "prometheus.io/port"]
  # Microfrontend chart changes
  1.0.0:
    - action: add_key
      key: ["microfrontend", "env"]
      overwrite: False
      overwrite_value: {}
  3.0.0:
    - action: rename_key
      old_key: ["microfrontend", "podAnnotations"]
      new_key: ["microfrontend", "annotations"]
      merge: True
    - action: add_key
      key: ["microfrontend", "deploymentAnnotations"]
      overwrite: False
      overwrite_value: {}
  3.1.0:
    - action: add_key
      key: ["microfrontend", "pdb", "minAvailable"]
      overwrite: True
      overwrite_value: "50%"
    - action: add_key
      key: ["microfrontend", "replicaCount"]
      overwrite: True
      overwrite_value: 2
